/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
/.git
/.production
/coverage/*
/coverage
public/vendor
cmd.txt
test_insights.txt
.php_cs.dist
lean-library.code-workspace
/public/fonts/
/public/plugins/*
/public/css/*
/public/css/custom.min.css
/public/css/fonts.min.css
/public/css/login.min.css
/public/css/google-fonts.min.css
/public/css/wizard-2.min.css
/public/css/popup.min.css
/public/css/style.bundle.*
/public/js/pages/*
/public/js/app.js
/public/js/config.js
/public/js/scripts.bundle.*
/public/css/pages/*
/public/media
/public/js/access/*
/public/js/additional-domain-settings/*
/public/js/alternatives/*
/public/js/assist/*
/public/js/activity-tracking/*
/public/js/accessibility-settings/*
/public/js/homepage/*
/public/js/journal-alert/*
/public/js/libraries/*
/public/js/submenu.min.js
/public/js/show-password.min.js
/public/js/password-strength.min.js
/public/js/password-validation.min.js
/public/js/custom.min.js
/public/js/chatbot.min.js
/public/js/popup-settings/popup-hide.min.js
/public/js/popup-settings/wizard-2.min.js
/public/js/popup-settings/summernote.min.js
/public/js/popup-settings/popup-languages.min.js
public/js/job-simulations.min.js
public/js/assist/ktdatatable.min.js
public/js/assist/validations.min.js
public/js/assist/delete-assist.min.js
public/js/additional-domain-settings/delete-blacklisted-domain.min.js
public/js/general-settings/general-settings.min.js
public/css/chart.min.css
public/css/percircle.min.css
public/js/chatbot.min.js
public/js/percircle/percircle.min.js
public/js/users/users-datatable.min.js
public/js/chart/
public/js/statistics/
public/js/users/

# Test reports and scans
reports/
